<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 扫描包 -->	
	<context:component-scan base-package="com.woniuxy.d_annotation" />

	<!-- 
		注解映射器
		1. 接受url地址:			/aa/f1.do
		2.返回一个控制器
		
		RequestMappingHandlerMapping拿着url地址，与控制器类上的@RequestMapping的内容比较。
		
	-->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>
	
	<!-- 
		注解适配器
		1. 接受控制器 
		2.返回ModelAndView
		
		RequestMappingHandlerAdapter要求控制器类，必须有一个@Controller注解！（不要求控制器类实现任何接口！）
	 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"></bean>

	<!-- 注意，这里不再使用bean元素来配置控制器了！！ -->
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
</beans>
