<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<context:component-scan base-package="com.woniuxy.l_interceptor"></context:component-scan>
	
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
	<!-- 
		1. 拦截器的语法，特别easy，不值一提
		2.拦截器的价值何在？
			当我们要做日志、权限、缓存功能时，黑名单时，拦截器是首选！
	 -->
	<mvc:interceptors>
		<!-- 
		<mvc:interceptor>
			<mvc:mapping path="/user/save.do"/>
			<bean class="com.woniuxy.l_interceptor.A"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/user/save.do"/>
			<bean class="com.woniuxy.l_interceptor.B"></bean>
		</mvc:interceptor>
		 -->
		 <mvc:interceptor>
			<mvc:mapping path="/**"/> 
			<bean class="com.woniuxy.l_interceptor.LogInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>		

</beans>
